/* Menu Button */
.burger {
  position: fixed;
  z-index: 999;
  right: 35px;
  top: 35px;
  cursor: pointer;
  padding: 5px 4px;
  @include ease-out(.3s);

  i {
    display: block;
    width: 42px;
    height: 2px;
    margin: 8px;
    background: set-text-color($primary-color);
    @include ease-out(.3s);
  }

  &.hover {
    i {
      &:nth-child(1) {
        transform: translate3d(0, -4px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(0, 4px, 0);
      }
    }
  }

  // Menu burger rotation - first stage
  &.st-1 {
    animation: rotate-back-in .8s cubic-bezier(.2, .86, .35, 1) forwards;
    
    i {
      &:nth-child(1) {
        transform: translate3d(0, 9px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(0, -9px, 0);
      }

      &:nth-child(n) {
        transition: transform .45s cubic-bezier(.43, .77, .15, 1.5), background .3s ease;
      }
    }
  }

  // Menu burger rotation - first stage
  &.st-2 {    
    i {
      &:nth-child(1) {
        transform: translate3d(0, 10px, 0) rotate(45deg) scale(1.5);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translate3d(0, -10px, 0) rotate(-45deg) scale(1.5);
      }
    }

    &.hover {
      i {
        &:nth-child(1) {
          transform: translate3d(0, 10px, 0) rotate(50deg) scale(1.5);
        }

        &:nth-child(3) {
          transform: translate3d(0, -10px, 0) rotate(-50deg) scale(1.5);
        }
      }
    }
  }
}

/* Menu Overlay */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .99;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding, &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0); // takes it off the page to top
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0); // slide in from top
    }
  }

  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0); // takes it off the page to bottom
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0); // slide in from bottom
    }

    .portrait {
      width: $portrait-size;
      height: $portrait-size;
      background: $portrait-image;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0); // takes it off the page to right
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0); // slide in from right
    }

    &.active > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 16px 0;
    text-decoration: none;
    color: set-text-color($primary-color);
    @include ease-out;

    &:hover {
      color: $secondary-color;
    }
  }
}

// Delay each nav item slide by 0.1s
@for $index from 1 through 4 {
  .nav-item:nth-child(#{$index}) {
    transition-delay: $index * 0.1s;
  }
}
