/* Menu Button */
.burger {
  position: fixed;
  z-index: 999;
  right: 35px;
  top: 35px;
  cursor: pointer;
  padding: 5px 4px;

  i {
    display: block;
    width: 42px;
    height: 2px;
    margin: 8px;
    background: set-text-color($primary-color);
    @include ease-out(.3s);
  }

  &.hover {
    i {
      &:nth-child(1) {
        transform: translate3d(0, -4px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(0, 4px, 0);
      }
    }
  }

  // Menu burger rotation - first stage
  &.st-1 {
    animation: rotate-back-in .8s cubic-bezier(.2,.86,.35,1) forwards;
    
    i {
      &:nth-child(1) {
        transform: translate3d(0, 9px, 0);
      }

      &:nth-child(3) {
        transform: translate3d(0, -9px, 0);
      }

      &:nth-child(n) {
        transition: transform .45s cubic-bezier(.43, .77, .15, 1.5), background .3s ease;
      }
    }
  }

  // Menu burger rotation - first stage
  &.st-2 {
    animation: rotate-back-out .85s cubic-bezier(.2,.86,.35,1) forwards;
     
    i {
      &:nth-child(1) {
        transform: translate3d(0, 10px, 0) rotate(45deg) scale(1.5);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translate3d(0, -10px, 0) rotate(-45deg) scale(1.5);
      }
    }

    &.hover {
      i {
        &:nth-child(1) {
          transform: translate3d(0, 10px, 0) rotate(50deg) scale(1.5);
        }

        &:nth-child(3) {
          transform: translate3d(0, -10px, 0) rotate(-50deg) scale(1.5);
        }
      }
    }
  }
}

/* Menu Overlay */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .99;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding, &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, -100%, 0); // takes it off the page to top
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0); // slide in from top
    }
  }

  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0); // takes it off the page to bottom
    @include ease-out;

    &.show {
      transform: translate3d(0, 0, 0); // slide in from bottom
    }

    .portrait {
      width: $portrait-size;
      height: $portrait-size;
      background: $portrait-image;
      background-size: cover;
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .menu-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    background: rgba(0, 0, 0, .02);
    height: calc(70% / 4);
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    color: set-text-color($primary-color);
    overflow: hidden;

    &::before {
      top: 0;
      transform: translate3d(-100%,0,0);
      background-color: #2e2e2e;
      z-index: -1;
    }

    &::after {
      bottom: 0;
      transform: translate3d(100%,0,0);
      transition-delay: 125ms;
      background-color: #2d2d2d;
      z-index: -2;
    }

    &::after, &::before {
      content: '';
      height: 75%;
      width: 100%;
      left: 0;
      position: absolute;
      transition: transform .4s cubic-bezier(.65,.15,0,1);
    }

    &:hover {
      color: $secondary-color;
      
      &::after, &::before {
        transform: translate3d(0,0,0);
      }
    }

    &.active {
      color: $secondary-color;
    }
  }
}

// menu burger animation
@keyframes rotate-back-out {
  0% {
    transform: rotate(0);
  }

  45% {
    transform: rotate(185deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotate-back-in {
  0% {
    transform: rotate(180deg);
  }

  45% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0);
  }
}

// Delay each nav item slide by 0.1s
@for $index from 1 through 4 {
  .nav-item:nth-child(#{$index}) {
    transition-delay: $index * 0.1s;
  }
}
