@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  @include background;
  
  height: 100%;
  margin: 0;
  font-family: $body-font;
  line-height: 1.5;
  background: $primary-color;
  color: set-text-color($primary-color);
}

/* Headings */
h1, h2, h3 {
  margin: 0;
  font-weight: 400;
  font-family: $headings-font;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 3px 16px;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

/* globals */
@import 'globals';

/* home page */
@import 'partials/home';

/* about Page */
@import 'partials/about';

/* portfolio page */
@import 'partials/portfolio';

/* contact page */
@import 'partials/contact';

/* main footer */
#footer {
  text-align: center;
  padding: 16px;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;

  .fa-heart {
    color: red;
    margin: 0 5px;
  }

  a.link {
    color: $secondary-color;
  }
}

@import 'mobile';
